<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Overseer{% endblock %}</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />

    {% block page_css %}{% endblock %}
</head>

<body>
    {% include '_sidebar.html' %}
    <main class="main-content">
        
        <header class="main-header">
    
            <div class="header-top-row">
                <button class="hamburger-button" id="hamburger-btn" aria-label="Abrir menu">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <h2>{% block page_title %}Dashboard{% endblock %}</h2>
            </div>

            <div class="user-profile">
                <i class="fa-solid fa-user-circle"></i>
                <div>
                    <span id="user-display-name">Admin Global</span>
                    <i class="fa-solid fa-chevron-down" style="font-size: 0.8rem;"></i>
                </div>
            </div>
        </header>

        {% block content %}
        {% endblock %}

    </main>

    {% block scripts %}
    {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const sidebar = document.getElementById('sidebar-menu');
            const openBtn = document.getElementById('hamburger-btn');
            const closeBtn = document.getElementById('sidebar-close-btn');
            const navUser = document.getElementById('navUser');
            const group = localStorage.getItem('userGroup');

            if (group !== 'admin') {
                navUser.style.display = 'none';
            }

            if (sidebar && openBtn && closeBtn) {
                // Abre o menu
                openBtn.addEventListener('click', () => {
                    sidebar.classList.add('is-open');
                });

                // Fecha o menu
                closeBtn.addEventListener('click', () => {
                    sidebar.classList.remove('is-open');
                });
            }
        });
    </script>
</body>

</html>